#app {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

body main {
    display: flex;
    flex-direction: column;
    flex: 1 0 auto;
}

input {
    outline: none;
}

img {
    max-width: 100%;
}

button {
    outline: none ;
    border: none;
    padding: 10px;
    border-radius: 8px;
    margin-left: 10px;
    background-color: #000;
    color: #fff;
    cursor: pointer;
}

button:focus {
    box-shadow: none !important;
}

.hide {
    transition: .5s;
    opacity: 0;
    visibility: hidden;
}


.container3 {
    background-color: #eee;
    border-radius: 10px;
}

.modal-dialog {
    z-index: 9999;
}

.loader__wrap-list {
    background-color: transparent;
    border-radius: 10px;
    width: 50%;
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.loader__wrap-list.title {
    width: 100%;
}
.loader__wrap-list.cost {
    width: 30%;
}

.loader__wrap-list div {
    padding: 10px;
    border-radius: 5px;
    background-color: #ededed;
}
.loader__wrap-list.title div {
    padding: 25px;
}
.loader__wrap-list.cost div {
    padding: 20px;
}

.load-anim {
    position: relative;
    background: linear-gradient(90deg, #f8f8f8, #dfdfdf, #f8f8f8, #e1e1e1);
    background-size: 400% 400%;
    animation: gradient 3s ease infinite;
    transform: translate3d(0, 0, 0);
}

.blink {
    animation-name: blink;
    animation-timing-function: linear;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}


.btn.loading {
    background-color: #8b8b8b !important;
    border-color: #8b8b8b !important;
    pointer-events: none !important;
    position: relative;
}

.loading::after {
    content: "";
    width: 22px;
    height: 22px;
    border-radius: 50%;
    position: absolute;
    animation: rotate 1s linear infinite;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.loading::before {
    content: "";
    width: 25px;
    height: 25px;
    box-sizing: border-box;
    position: absolute;
    inset: 0px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    border: 3px solid #FFF;
    animation: prixClipFix 1s linear infinite ;
}

@keyframes rotate {
    100%   {transform: rotate(360deg)}
}

@keyframes prixClipFix {
    0%   {clip-path:polygon(50% 50%,0 0,0 0,0 0,0 0,0 0)}
    25%  {clip-path:polygon(50% 50%,0 0,100% 0,100% 0,100% 0,100% 0)}
    50%  {clip-path:polygon(50% 50%,0 0,100% 0,100% 100%,100% 100%,100% 100%)}
    75%  {clip-path:polygon(50% 50%,0 0,100% 0,100% 100%,0 100%,0 100%)}
    100% {clip-path:polygon(50% 50%,0 0,100% 0,100% 100%,0 100%,0 0)}
}

@keyframes gradient {
    0% {
        background-position: 0% 0%;
    }

    50% {
        background-position: 100% 0%;
    }

    100% {
        background-position: 0% 0%;
    }
}

@keyframes blink {
    50% {
        opacity: .2;
    }
}